In [11]:
import os
import geopandas as gpd
import pandas as pd
from shapely import wkt
import glob

In [12]:
data_path = r'D:\Projects\superparcels\data\abreunig_pocs_spatialrecord_polygon_superparcel_rural.csv'

In [13]:
data_dir = r'D:\Projects\superparcels\data\Rural'

In [14]:
df = pd.read_csv(data_path, dtype={'FIPS': str})

In [15]:
fips = df['FIPS'].unique()

In [16]:
fips

array(['55107', '20097', '41013', '35051'], dtype=object)

In [17]:
for fip in fips:
    print(fip)
    df_fip = df[df['FIPS'] == fip]
    gdf = gpd.GeoDataFrame(df_fip, geometry=df_fip['geometry'].apply(wkt.loads), crs=4326)
    gdf.to_file(os.path.join(data_dir, f'sp_sample_{fip}.shp'))

55107
20097
41013
35051

Clean parcel urban and remove duplicate geometries for clustering POC

In [18]:
input_dir = r'D:\Projects\superparcels\data\Rural'

In [20]:
for fi in glob.glob(os.path.join(input_dir, '*.shp')):
    print(fi)
    fips = os.path.basename(fi).split('_')[-1].split('.')[0]
    
    df = gpd.read_file(fi)
    # Identify duplicate owners, addresses, and geometries
    df['duplicate_owner'] = df.duplicated(subset=['OWNER'], keep=False)
    df['duplicate_geometry'] = df.duplicated(subset=['geometry'], keep=False)

    # Create a classification column based on duplication status (with geometry)
    df['classification'] = df.apply(
        lambda row: (
            'Class1: Duplicate Owner & Geometry' if row['duplicate_owner'] and row['duplicate_geometry'] else
            'Class2: Duplicate Owner' if row['duplicate_owner'] else
            'Class3: Duplicate Geometry' if row['duplicate_geometry'] else
            'Class4: Unique'
        ), axis=1
    )

    # create clasification codes
    df['classification_code'] = df['classification'].apply(lambda x: x.split(':')[0][5])
    df['classification_code'] = df['classification_code'].astype(int)
    
    class_codes = [1, 2, 3, 4]

    for codes in class_codes:
        code = df[df['classification_code'] == codes]
        if len(code) == 0:
            continue
        code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))

    cluster_canidate_code = 2
    cluster = df[df['classification_code'] == cluster_canidate_code]
    cluster.to_file(os.path.join(input_dir, f'sp_sample_{fips}_cluster_canidates.shp'))

D:\Projects\superparcels\data\Rural\sp_sample_20097.shp

C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:34: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  cluster.to_file(os.path.join(input_dir, f'sp_sample_{fips}_cluster_canidates.shp'))

D:\Projects\superparcels\data\Rural\sp_sample_35051.shp

C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:34: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  cluster.to_file(os.path.join(input_dir, f'sp_sample_{fips}_cluster_canidates.shp'))

D:\Projects\superparcels\data\Rural\sp_sample_41013.shp

C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:34: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  cluster.to_file(os.path.join(input_dir, f'sp_sample_{fips}_cluster_canidates.shp'))

D:\Projects\superparcels\data\Rural\sp_sample_55107.shp

C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:30: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  code.to_file(os.path.join(input_dir, f'sp_sample_{fips}_code{codes}.shp'))
C:\Users\abreunig\AppData\Local\Temp\2\ipykernel_10820\801280174.py:34: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  cluster.to_file(os.path.join(input_dir, f'sp_sample_{fips}_cluster_canidates.shp'))

In [21]:
df = gpd.read_file(r'D:\Projects\superparcels\data\Urban\Alameda_CA\sp_06001_KNN-dbscan-3_area100000_rbuff.shp')
df.shape

(112, 5)

In [23]:
df = df.sort_values(by='area', ascending=False)
df.head()

,cluster_ID,OWNER,area,buff_dist,geometry
12,COLEMANFOLEY_0,COLEMANFOLEY,1.592413e+07,59.0,"POLYGON ((602147.491 4162443.375, 602148.742 4..."
37,HERBERT BELWORTHY_0,HERBERT BELWORTHY,1.067220e+07,63.0,"POLYGON ((617187.763 4183274.962, 617189.158 4..."
109,WILLIAM WAPPERSON_0,WILLIAM WAPPERSON,1.032713e+07,393.0,"POLYGON ((603028.170 4156500.507, 603027.746 4..."
99,STEPHEN AFIELDS_0,STEPHEN AFIELDS,6.307908e+06,158.0,"POLYGON ((618151.708 4162660.673, 618151.554 4..."
94,SATNAM SSANDHU_0,SATNAM SSANDHU,4.522355e+06,72.0,"POLYGON ((624589.847 4180788.486, 624591.476 4..."

In [24]:
df = df.reset_index(drop=True)
df.head()

,cluster_ID,OWNER,area,buff_dist,geometry
0,COLEMANFOLEY_0,COLEMANFOLEY,1.592413e+07,59.0,"POLYGON ((602147.491 4162443.375, 602148.742 4..."
1,HERBERT BELWORTHY_0,HERBERT BELWORTHY,1.067220e+07,63.0,"POLYGON ((617187.763 4183274.962, 617189.158 4..."
2,WILLIAM WAPPERSON_0,WILLIAM WAPPERSON,1.032713e+07,393.0,"POLYGON ((603028.170 4156500.507, 603027.746 4..."
3,STEPHEN AFIELDS_0,STEPHEN AFIELDS,6.307908e+06,158.0,"POLYGON ((618151.708 4162660.673, 618151.554 4..."
4,SATNAM SSANDHU_0,SATNAM SSANDHU,4.522355e+06,72.0,"POLYGON ((624589.847 4180788.486, 624591.476 4..."

In [26]:
df['area_label'] = df.index + 1
df.head()

,cluster_ID,OWNER,area,buff_dist,geometry,area_label
0,COLEMANFOLEY_0,COLEMANFOLEY,1.592413e+07,59.0,"POLYGON ((602147.491 4162443.375, 602148.742 4...",1
1,HERBERT BELWORTHY_0,HERBERT BELWORTHY,1.067220e+07,63.0,"POLYGON ((617187.763 4183274.962, 617189.158 4...",2
2,WILLIAM WAPPERSON_0,WILLIAM WAPPERSON,1.032713e+07,393.0,"POLYGON ((603028.170 4156500.507, 603027.746 4...",3
3,STEPHEN AFIELDS_0,STEPHEN AFIELDS,6.307908e+06,158.0,"POLYGON ((618151.708 4162660.673, 618151.554 4...",4
4,SATNAM SSANDHU_0,SATNAM SSANDHU,4.522355e+06,72.0,"POLYGON ((624589.847 4180788.486, 624591.476 4...",5

In [27]:
df.to_file(r'D:\Projects\superparcels\data\Urban\Alameda_CA\sp_06001_KNN-dbscan-3_area100000_rbuff_labeled.shp')